.project-logo {
  padding-top: 50px;
  /* width: 100px; */
  /* border-color: purple; */
  /* border-style: dashed; */
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #fa9787;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #074971;
}

.github {
  /* justify-content: center; */
  align-items: left;
  /* border-color: purple;
  border-style: dashed; */
  margin-top: 10px;
}

.developers {
  font-family: "Lucida Bright";
  margin-top: -10px
}

.App-main {
  color: #074971;
}

.App-footer {
  
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  background:#074971;
  color: white;
  /* justify-content: center; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
